body {
    display: flex;
    background-image: linear-gradient(125deg, #FF8A80,	#FF80AB, #EA80FC, #311B92);
    background-size: 500%;
    animation: animate 10s infinite;

}

@font-face{
    font-family: coolFont;
    src:url(font/tea.ttf)
}

@keyframes animate {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}

#loginBox {
    background-color: #FCE4EC;
    position: absolute;
    margin: 15% auto;
    left: 500px;
    top: 200px;
    height: 310px;
    width: 500px;
    border: inset 1px;
    border-radius: 3%;

}



@keyframes move {
    /**注意这几个图片大小一定要一样，否则会出现抖动现象*/
    /*这里的0%50%100%是相对于执行时间的，最后一个图片先播放*/
    0%{
        background: url(img/cat.png) no-repeat;
    }
    20%{
        background: url(img/cat3.png) no-repeat;
    }
    25%{
        background: url(img/cat2.png) no-repeat;
    }
    100%{
        background: url(img/cat3.png) no-repeat;
    }
}


.background{
    transform: rotate(30deg);
    position: absolute;
    left: 850px;
    top: 110px;
    width: 400px;
    height: 250px;
    animation: move 12s linear  infinite;

}

.content{
    position: relative;
}

.title {
    font-family: coolFont;
    font-size: 40px;
    text-align:center;
    font-weight: bold;
    position: relative;
    color:#fefefe;
    text-shadow:
    0px 1px 0px #c0c0c0,
    0px 2px 0px #b0b0b0,
    0px 3px 0px #a0a0a0,
    0px 4px 0px #909090,
    0px 5px 10px rgba(213, 114, 14, 0.6);

}

input{
    border: none;
    border-bottom: 4px solid #c0c0c0;
}

.username{
    font-family: coolFont;
    font-size: 17px;
    position: absolute;
    top: 93px;
    color: #808080;
    pointer-events: none;
}

.password{
    font-family: coolFont;
    position: absolute;
    top: 158px;
    color: #808080;
    font-size: 17px;
    pointer-events: none;
}

#passwordBox{
    font-family: coolFont;
    margin-left: 176px;
    margin-top: 40px;
    margin-bottom: 40px;
}


#nameBox{
    margin-top: 40px;
    margin-left: 176px;

}

#form-name:focus ~ label,
#form-name:valid ~ label
{
    transform: translateY(-25px);
    font-size: 17px;
    color: #808080
}

#form-comment:focus ~ label,
#form-comment:valid ~ label{
    transform: translateY(-25px);
    font-size: 17px;
    color: #808080
}

#submitButton {
    font-size: 20px;
    font-family: coolFont;
    display: inline-block;
    border: solid 1px;
    border-radius: 5px;
    height: 40px;
    width: 100px;
    margin-left: 193px;
    background: linear-gradient(120deg, #a18cd1, #fbc2eb, #a18cd1);
}


#newUser {
    font-family: coolFont;
    display: inline-block;
    margin-left: 10px;
    margin-top: 20px;
    text-decoration: none;
}


#submitButton:hover {
    cursor: pointer;
    background: linear-gradient(120deg, #2196c1, #c2fbf6, #2196c1);
}

