<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="../static/js/websocket.js"></script>
    <link rel="stylesheet" href="../static/css/homePage.css">
</head>
<body>
    <div id="userbar">
    </div>
    <div id="Adbox">
        <span class=rbox id="rollingBox"></span>
        <span class=rbox id="rollingBox1"></span>
        <span class=rbox id="rollingBox2"></span>
    </div>
    <div id="ItemList">
        <div class="column">
            <div class="'itemBox"></div>
            <div class="'itemBox"></div>
            <div class="'itemBox"></div>
            <div class="'itemBox"></div>
        </div>
        <div class="column">
            <div class="'itemBox"></div>
            <div class="'itemBox"></div>
            <div class="'itemBox"></div>
            <div class="'itemBox"></div>
        </div>
        <div class="column">
            <div class="'itemBox"></div>
            <div class="'itemBox"></div>
            <div class="'itemBox"></div>
            <div class="'itemBox"></div>
        </div>
    </div>
    <script src="../static/js/mainPage.js"></script>
</body>
</html>