<!DOCTYPE html>
<html>
    
    <head>
        <title>
            UBay Market
        </title>
        <link rel="icon" href="Logo.png">
        <link rel="stylesheet" href="Main.css">
        <link rel="stylesheet" href="Item.css">
    </head>
    <body class="border">

        <div class = "header">
            <div class = "logo">
                <a href="MainPage.html"><img src = "Logo.png" alt = "Logo" class="logo_image" ></a>
            </div>
            <div class="search">
                <form action="/action_page.php" class="search">
                    <input type="text" placeholder="Search.." name="search"style="width:600px;height: 50px;border-radius: 25px " >
                    <button type="submit" class ="search_button">Search</button>
                </form> 
            </div>
        </div>
        
            <div class = "nav">
                <a href="Account.html">
                    <button class="account_button">MY ACCOUNT</button>
                </a>
                <a href="Upload.html">
                    <button class="buttons">Upload</button>
                </a>
                <div class="dropdown">
                    <button class="dropbtn">Categories</button>
                    <div class="dropdown-content">
                      <a href="MainPage.html">All Item</a>
                      <a href="#">Book</a>
                      <a href="#">Equipments</a>
                      <a href="#">Donate</a>
                    </div>
                  </div>
                
            </div>
    </div>
    <div class = d1>
        <div class="img">
            <img src="Example.webp" alt="image">
        </div>

        <div class="text">
            <p>
                Contact Information & description about me & my preferred payment method
            </p>
        </div>
    </div>
        <div class = d2>
            <p>Seller</p>
        </div> 
        <div class="d3">
            <p>Seller Rating</p>
        </div>
    </div>
    <div>
        <form class="center">
            <label for="Description" class="title"><b>Comments:</b></label><br>
            <textarea id="Description" name="Description" rows="10" cols="130"></textarea><br>
            <input type="submit" value="Submit" class="sub">
        </form>
    </div>
    <div class="center">
        Display Comments here
    </div>
    </body>
</html>
<!-- C:\Users\13702\Downloads\CSE442\Ubay\Item.html -->