<!DOCTYPE html>
<html lang="en">

<script src="../static/js/marketfront.js"></script>
<link rel="stylesheet" type="text/css" href="../static/css/marketfront.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body class="border" onload="onload()" >


    <div class = "header">
      <div class = "logo">
          <a href="http://127.0.0.1:8000/marketfront"><img src = "../static/image/Logo.png" alt = "Logo" class="logo_image" ></a>

      </div>
      <div class="search">
          <form action="/action_page.php" class="search">
              <input type="text" placeholder="Search.." name="search"style="width:600px;height: 50px;border-radius: 25px " >
              <button type="submit" class ="search_button">Search</button>
          </form> 
      </div>
    </div>
  
      <div class = "nav">
          <a href="http://127.0.0.1:8000/profile">
              <button class="account_button">MY ACCOUNT</button>
          </a>

          <a href="http://127.0.0.1:8000/upload">
              <button class="buttons">Upload</button>
          </a>

          <div class="dropdown">
              <button class="dropbtn">Categories</button>
              <div class="dropdown-content">
                <a href="http://127.0.0.1:8000/marketfront">All Item</a>
                <a href="#">Book</a>
                <a href="#">Equipments</a>
                <a href="#">Donate</a>
              </div>
            </div>
          
      </div>
</div>

    <div id="posts" class="cardsbox"></div>

</body>

